@page
@model ClassCraft.pages.aboutModel
@{
	String aboutUs = "Authors: Muskan Sandhay, Harshita Harshita,";
}
<div class=" container">
	<h1>Information about who made website</h1>
	<p>@aboutUs</p>
</div>