@page
@model ClassCraft.pages.IndexModel
@{

	ViewData["Title"] = "Home page";
	String Welcome = "Hello !!!!!!!It is website about fruits. Hope You have fun !!!!!!!!!!!!~~~~~~~~~~~~~~~~";
}
<div class="container">
	<h1></h1>
	<h2>@Welcome</h2>
</div>